<div class="header-reviews">
  <div class="page-rate fright">
 <%= select_tag "" , options_for_select([1,2,3,4,5],comment.rate) %>
   </div>
      <p><strong><%= comment.user_name %></strong><%= comment.created_at.strftime('%d.%m.%y') %></p></div>
<div class="content-reviews">
    <%= comment.description %>
    <%= request.remote_ip %>
<p class="link-top0"><a href="#" class="link">Ответить</a></p>
</div>
