<div class='coontent content-indent1'>
    <%= breadcrumbs %>
    <div class="row-box4">
        <div class="clear">
            <!--right-->
            <div class="col-right fright">
                <div class="page-rate fright">
                  <%= select_tag "page-rate#{@page.id}" , options_for_select((0..5).map {|el| [el, el]}, @page.average_rate) %>
                </div>
                <h1><%= @page.title %></h1>
                <div class="text-box clear">
                  <% @page.single_custom_fields.in_groups_of(3, false) do |g| %>
                    <% g.each_with_index do |f, index| %>
                      <div class='col-<%= index + 1 %> fleft'>
                        <% unless f.custom_field.icon.blank? %>
                        <h4>
                          <%= image_tag f.custom_field.icon, :alt => f.custom_field.name, :title => f.custom_field.name %>
                          <%= f.custom_field.name %>
                        </h4>
                        <% end %>
                        <div class='text-indent'><%= raw f.values.first.name %></div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <p class="indent-top1">
                    <div id="page_content" class="mercury-region clear" data-type="editable">
                        <%= raw @page.content %>
                    </div>
                </p>
                <% if current_admin_user %>
                    <%= link_to "Edit Page", "/editor#{url_for(@page.url)}", :id => "edit_link", :data => {:save_url => mercury_update_admin_page_path(@page)} %>
                <% end %>
                <% if @page.photos.present? %>
                    <h3 class>Галерея</h3>
                    <!--slider-->
                    <div class="row-slider clear txt1" id='carousel'>
                        <a class="slider-left txt"></a>
                        <a class="slider-right txt"></a>
                        <ul class="slider list0 txt" id='gallery'>
                            <% @page.photos.each do |p| %>
                                <li>
                                    <%= link_to p.file.url, :class => 'fancybox', :rel => 'fancybox' do %>
                                        <%= image_tag(p.file.url(:thumb), :alt => @page.title, :title => @page.title) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                  <% comments_without_new_recs = @page.comments.reject(&:new_record?) %>
                    <% unless comments_without_new_recs.blank? %>
                      <!--Reviews-->
                      <h4>Отзывы (<%= comments_without_new_recs.count %>)</h4>
                        <%= render comments_without_new_recs %>
                    <% end %>
                    <%= render '/comments/form' %>
                <% end %>
            </div>
            <div class="col-left fleft">
              <%= side_bar_for_page(@page) %>
              <%= link_to search_path(:country_id => @page.country.try(:slug),
                                        :city_id => @page.city.try(:slug),
                                        :category_id => @page.category.try(:slug)), :class => 'text-button button-width2 text-button-indent1' do %>
                  <span><span><%= @page.show_all_button_text %></span></span>
              <% end %>
            </div>
        </div>
    </div>
</div>