<div class='coontent content-indent1'>
    <div class="row-box4">
        <div class="clear">
            <!--right-->
            <div class="col-right fright">
                <h3 class="title-star title-bottom">
                    <em><%= @page.title %></em>
                    <em class="star-link">
                        <span><a></a><a></a><a></a><a></a><a></a></span>
                    </em>
                </h3>
                <div class="text-box clear">
                                    <div class="col-1 fleft">
                                        <h4 class="marker1">Стоимость билета:</h4>
                                        <div class="text-indent">Взрослый: 200 THB <p>Детский: 100 THB</p></div>
                                    </div>
                                    <div class="col-2 fleft">
                                        <h4 class="marker2">Часы работы:</h4>
                                        <div class="text-indent1">08:00-19:00</div>
                                    </div>
                                    <div class="col-3 fleft">
                                        <h4 class="marker3">Расположение:</h4>
                                        <div class="text-indent">2/2 Moo 2, Viset Rd. Tambon Rawai, <p>A. Muang, Phuket 83130 </p></div>
                                    </div>
                                </div>
                <p class="indent-top1">
                    <%= raw @page.content %>
                </p>
                <% if @page.photos.present? %>
                    <h3 class="title-text title-text-top">Галерея</h3>
                    <!--slider-->
                    <div class="row-slider clear txt1" id='carousel'>
                        <a class="slider-left txt"></a>
                        <a class="slider-right txt"></a>
                        <ul class="slider list0 txt" id='gallery'>
                            <% @page.photos.each do |p| %>
                                <li>
                                    <%= link_to p.file.url, :class => 'fancybox', :rel => 'fancybox' do %>
                                        <%= image_tag(p.file.url(:thumb)) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            </div>
            <div class="col-left fleft">
                               <h3 class="title-bottom1"><strong>Топ 10 </strong> <span>достопримечательностей</span></h3>
                               <!-- TODO: top 10 objects <ul class="list1-top-10">
                                                           <li><span class="bg1">1</span><a href="#">Национальный парк Khao Sok</a></li>
                                                           <li><span class="bg2">2</span><a href="#">Деревня Khao lak</a></li>
                                                           <li><span class="bg3">3</span><a href="#">Зооппарк Пхукета </a></li>
                                                           <li><span>4</span><a href="#">Музей морских раковин</a></li>
                                                           <li><span>5</span><a href="#">Океанариум Пхукета</a></li>
                                                           <li><span>6</span><a href="#">Рафтинг на Пхукете</a></li>
                                                           <li><span>7</span><a href="#">Сад орхидей Пхукета</a></li>
                                                           <li><span>8</span><a href="#">Сафари на ATV</a></li>
                                                           <li><span>9</span><a href="#">Сафари на слонах</a></li>
                                                           <li><span>10</span><a href="#">Сад бабочек</a></li>
                                                       </ul> -->
                               <%= link_to page_path(@country, @city), :class => 'text-button button-width2 text-button-indent1' do %>
                                   <span><span>Все достопримечательности</span></span>
                               <% end %>
            </div>
        </div>
    </div>
</div>