<div class='coontent content-indent1'>
    <%= breadcrumbs %>
    <div class="row-box4">
        <div class="clear">
            <!--right-->
            <div class="col-right fright">
                <h3 class="title-star title-bottom">
                    <em><%= @page.title %></em>
                    <em class="star-link">
                        <span><a></a><a></a><a></a><a></a><a></a></span>
                    </em>
                </h3>
                <div class="text-box clear">
                    <% @page.info_blocks.each_with_index do |b, index| %>
                        <div class="col-<%= index + 1 %> fleft">
                            <h4 class="marker<%= index + 1 %>"><%= b.title %>:</h4>
                            <div class="text-indent"><%= raw b.content %></div>
                        </div>
                    <% end %>
                </div>
                <p class="indent-top1">
                    <div id="page_content" class="mercury-region clear" data-type="editable">
                        <%= raw @page.content %>
                    </div>
                </p>
                <% if current_admin_user %>
                    <%= link_to "Edit Page", "/editor#{url_for(@page.url)}", :id => "edit_link", :data => {:save_url => mercury_update_admin_page_path(@page)} %>
                <% end %>
                <% if @page.photos.present? %>
                    <h3 class="title-text title-text-top">Галерея</h3>
                    <!--slider-->
                    <div class="row-slider clear txt1" id='carousel'>
                        <a class="slider-left txt"></a>
                        <a class="slider-right txt"></a>
                        <ul class="slider list0 txt" id='gallery'>
                            <% @page.photos.each do |p| %>
                                <li>
                                    <%= link_to p.file.url, :class => 'fancybox', :rel => 'fancybox' do %>
                                        <%= image_tag(p.file.url(:thumb), :alt => @page.title, :title => @page.title) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            </div>
            <div class="col-left fleft">
              <%= side_bar_for_page(@page) %>
              <%= link_to page_path(@country, @city), :class => 'text-button button-width2 text-button-indent1' do %>
                  <span><span><%= @page.show_all_button_text %></span></span>
              <% end %>
            </div>
        </div>
    </div>
</div>