<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :meta_title %><br />
    <%= f.text_field :meta_title %>
  </div>
  <div class="field">
    <%= f.label :meta_keys %><br />
    <%= f.text_area :meta_keys %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
