<div class="clear col-img col-img-top">
    <div class="col-1 fleft">
        <%= link_to page.url do %>
            <%= image_tag(page.featured_image_file.url(:for_search)) %>
        <% end %>
    </div>
    <div class="col-2 fleft">
        <h5><%= link_to page.title, page.url %></h5>
        <p class="text">
            <%= raw truncate_html(page.countent_without_images, :length => 500) %>
        </p>
        <div class="row-star clear">
            <div class="star-left fleft">
              <div class="page-rate fright">
                <%= select_tag "page-rate#{@page.id}" , options_for_select((0..5).map {|el| [el, el]}, page.average_rate) %>
              </div>
            </div>
            <div class="star-right fleft">|&nbsp;  <%= page.updated_at.strftime("%d.%m.%Y") %></div>
        </div>
        <p class="link-top">
            <%= link_to 'Подробнее', page.url, :class => 'link' %>
            <%= link_to "Отзывы (#{page.comments.count})",page.url, :class => 'link link-left' %>
        </p>
    </div>
</div>
