<div class="clear col-img col-img-top">
    <div class="col-1 fleft">
        <%= image_tag page.featured_image_file.url(:for_search) %>
    </div>
    <div class="col-2 fleft">
        <h5><%= page.title %></h5>
        <p class="text">
            <%= raw truncate_html(page.countent_without_images, :length => 500) %>
        </p>
        <div class="row-star clear">
            <div class="star-left fleft"><span class="img-star"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></span></div>
            <div class="star-right fleft">|&nbsp;  <%= page.updated_at.strftime("%d.%m.%Y") %></div>
        </div>
        <p class="link-top">
            <%= link_to 'Подробнее', page.url, :class => 'link' %>
            <%= link_to "Отзывы (#{page.comments.count})",page.url, :class => 'link link-left' %>
        </p>
    </div>
</div>
