<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Country</th>
    <th>City</th>
    <th>Category</th>
    <th>Url</th>
    <th>Meta title</th>
    <th>Meta keys</th>
    <th>Meta description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.description %></td>
    <td><%= page.country_id %></td>
    <td><%= page.city_id %></td>
    <td><%= page.category_id %></td>
    <td><%= page.url %></td>
    <td><%= page.meta_title %></td>
    <td><%= page.meta_keys %></td>
    <td><%= page.meta_description %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
