<!DOCTYPE html>
<html>
<head>
    <title>Saygo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="main">
        <%= render 'header' %>
        <%= yield %>
        <%= render 'footer' %>
    </div>
</body>
</html>
