<!DOCTYPE html>
<html>
<head>
    <title><%= @sight_of_the_day.try(:title) || "Туристический портал SayGo - туризм, путешествия, достопримечательности стран" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='yandex-verification' content='7545b90099830ba1' />
    <%= meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="main">
        <%= render 'header' %>
        <div class='coontent content-indent'>
            <%= yield :submenu %>
            <!--row-box1-->
            <div class="row-box1 row-box1-indent">
                <div class="clear">
                    <!--right-->
                    <div class="col-right fright">
                        <% if @sight_of_the_day.present? %>
                            <h1>Достопримечательность дня</h1>
                            <div class="clear">
                              <%= image_tag @sight_of_the_day.featured_image_file.url(:for_search) , :class => "img-indent" %>
                              <h4><%= @sight_of_the_day.title %></h4>
                              <%= raw truncate_html(@sight_of_the_day.countent_without_images, :length => 1000) %>
                            </div>
                            <p class='link-top'>
                                <%= link_to 'Подробнее',
                                        page_path(@sight_of_the_day.country, @sight_of_the_day.city, @sight_of_the_day.category, @sight_of_the_day), :class => 'link' %>
                            </p>
                        <% end %>
                    </div>
                    <!--left-->
                    <div class="col-left fleft">
                        <%= render 'search_sidebar' %>
                    </div>
                </div>
            </div>
            <!--row-box2-->
            <div class="row-box2">
                <div class="clear">
                    <!--right-->
                    <div class="col-right fright">
                        <h2><strong>Топ 10</strong> направлений</h2>
                        <%= top_countries(@top_countries) %>
                    </div>
                    <!--left-->
                    <div class="col-left fleft">
                       <h3 class="title-bottom">Достопримечательности стран</h3>
                      <noindex>
                       <div class="text-indent" align="justify">
                            <p>Мир путешественников не знает границ. Жажда исследования новых земель и расширения собственных горизонтов познания сажает нас в скоростные поезда, обдает солеными брызгами морских волн на трансатлантических теплоходах, холодит сердце воздушными ямами тысячекилометровых авиаперелетов.  Все это мы бесстрашно преодолеваем, чтобы увидеть самые интересные <B>достопримечательности мира</B>, познакомиться с культурой неизвестных нам ранее народов, населяющих одну для всех нас планету.
                            </p><br>
                            <p>Тот, кто на своих губах уже однажды ощутил соленый ветер дальних странствий, у кого только одно перечисление <B>достопримечательностей стран</B> вызывает трепет, никогда больше не сможет обойтись без этого невероятного чувства, которое охватывает нас перед каждым новым путешествием в неизведанную ранее страну.
                            </p><br>
                            <p>Наш сайт – для тех, кто одержим путешествиями, кто хочет узнать наш прекрасный мир во всем его разнообразии: своими глазами увидеть Париж и не умереть, побывать внутри египетских пирамид и выйти оттуда живым, коснуться ладонью шершавой поверхности тысячелетних камней Афинского Акрополя и услышать под ней голос истории.
                            </p><br>
                            <p>Если вы разделяете нашу страсть к путешествиям, то на страницах этого сайта мы постараемся описать вам самые интересные <B>достопримечательности стран</B>, познакомить с национальными традициями, культурой и особенностями жизни самых разных государств, которые в будущем вполне могут оказаться новыми точками в маршрутах ваших путешествий.
                            </p><br>
                            <p>Иногда выбрать маршрут путешествия оказывается совсем не таким легким делом, как кажется сначала, ведь в мире столько всего интересного! Загадочные <B>достопримечательности Азии</B>, казалось бы, близкие, но всегда удивляющие чем-то новым <B>достопримечательности Европы</B>  приоткроют перед вами завесу своих тайн и пригласят познакомиться с ними поближе. Мы поможем спланировать направление ваших маршрутов путешествий, поделимся той разнообразной и интересной информацией, которая у нас имеется в отношении самых разных стран.
                            </p><br>                               На нашем сайте вы сможете узнать:<br><br>
                              <ul class='as-list'>
                                <li>как правильно спланировать свое путешествие;</li>
                                <li>где выгоднее всего купить билеты и заказать отель;</li>
                                <li>какие самые интересные достопримечательности посетить в том месте, куда вы отправляетесь, как одеться по погоде и какую валюту лучше всего взять с собой;</li>
                                <li>где вас вкуснее всего накормят и какие особенности есть у национальной кухни той местности, в которую вы отправляетесь;</li>
                                <li>каких неприятностей стоит опасаться в той или иной точке планеты и как обезопасить себя от их возникновения;</li>
                                <li>чем знаменита ночная жизнь выбранного вами города или курорта и какие развлечения может вам предложить;</li>
                                <li>где выгоднее всего совершать покупки и какие сувениры везти из страны вашего путешествия.</li>
                              </ul>
                              <br>
                            Если вы еще не решили, в какую сторону земного шара (который, как известно, круглый) вам отправляться и <B>какие достопримечательности мира</B> посетить, наш сайт поможет вам сделать свой выбор.    <br>
                            Если вы уже вернулись из путешествия, то странички нашего сайта освежат ваши воспоминания и заставят задуматься о новом маршруте.                                                            <br>
                            Если в ближайшее время вы не планируете отправляться в дальнее путешествие, не спешите покидать страницы нашего сайта: из них вы почерпнете очень много нового и интересного для себя. А кроме того, никто из нас не знает, куда его в следующую минуту забросит капризная судьба.

                      </div>
                      </noindex>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'footer' %>
    </div>
</body>
</html>
