<!DOCTYPE html>
<html>
<head>
    <title>Saygo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="main">
        <div class="header clear">
            <h1>
                <%= link_to root_path, :class => 'logo txt', :title => 'Saygo' do %>
                    <span class="slogan txt">Мир путешествий</span>
                <% end %>
            </h1>
        </div>
        <div class='clear'><%= render_navigation %></div>
        <div class="coontent content-indent1">
            <div class='clear'><%= yield %></div>
        </div>
        <div class="footer">
            <div class="fright banner-footer">
                <a href="#"><img src="/assets/banner1.gif" alt="" /></a>
                <a href="#"><img src="/assets/banner2.gif" alt="" /></a>
            </div>
            <p class="fleft">Coopyright SayGO 2011 . Все права защищены</p>
        </div>
    </div>
</body>
</html>
